/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.idea
spec/out/*.ttl
spec/out/*.nt
spec/out/tcf2nif
spec/coverage
spec/out/miserables.n3
spec/out/phantom.n3
spec/out/screw.n3
spec/logs/misplain.log
spec/logs/phanplain.log
spec/logs/screwplain.log
spec/out/plainprov/miserables.nt
spec/out/plainprov/phantom.nt
spec/out/plainprov/phantom.ttl
spec/out/plainprov/screw.nt
